@import "/home/davidl/.colour_schemes/colors.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Fira Sans Semibold", noto-fonts-emoji, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 1px;
  margin: 2px;
}

window#waybar {
  background-color: transparent;
}

#waybar.empty, #waybar.tiled, #waybar.floating {
  background-color: transparent;
}


window#waybar.empty {
  background-color: transparent;
}

/*-----module groups----*/
.modules-right {
  border: 1px solid @color3;
  border-radius: 8px;
  background-color: #293E40;
  padding: 0 8px;
  box-shadow: 0.7 0.7 0.7 0.7px #151515;
  transition-property: background-color;
  transition-duration: .5s;
}

.modules-center {
  border: 1px solid @color3;
  border-radius: 8px;
  background-color: #293E40;
  padding: 0 8px;
  box-shadow: 0.7 0.7 0.7 0.7px #151515;
  transition-property: background-color;
  transition-duration: .5s;
}

.modules-left {
  border: 1px solid @color3;
  border-radius: 8px;
  background-color: #293E40;
	padding: 0 8px;
  box-shadow: 0.7 0.7 0.7 0.7px #151515;
  transition-property: background-color;
  transition-duration: .5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* Avoid rounded borders under each button name */
  border: none;
  padding: 0px 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces {
  padding: 0 0;
}

#workspaces button {
  color: @foreground;
  border-radius: 10px 10px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
  color: @background;
  background-color: @color8;
  padding: 0 0.5px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.focused {
  color: @color7;
}

#workspaces button.urgent {
  color: #11111b;
  border-radius: 10px;
}

#workspaces button:hover {
  color: @color4;
  padding: 0 2px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#submap {
  color: @foreground
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,

#tray {
  color: @foreground;
  padding: 0 5px;
}

#tray menu{
  background-color: #293E40;
  color: @foreground;
  border: 2.5px solid @color3;
}

#mpris {
  color: @foreground;
  padding: 0 5px;
}

#custom-pacman {
  color: @foreground;
  padding: 0 5px;
}

#custom-next-track {
  color: @foreground;
  padding: 0 5px;
}

#custom-previous-track {
  color: @foreground;
  padding: 0 5px;
}

#window {
  color: @foreground;
  background-color: transparent;
}

#battery.charging, #battery.plugged {
  border-radius: 10px 10px;
  color: #ffffff;
  background-color: #26A65B;
  padding: 0 5px;
}

#battery.warning:not(.charging) {
  border-radius: 10px 10px;
  background-color: #ff9800;
  color: #ffffff;
  padding: 0 5px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  border-radius: 10px 10px;
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #293E40;
}

#network {
  padding: 0 6px;
}
#network.disconnected {
  border-radius: 10px 10px;
  background-color: #f53c3c;
}

#pulseaudio.muted {
  border-radius: 10px 10px;
  background-color: #90b1b1;
  color: #2a5c45;
}

#wireplumber.muted {
  border-radius: 10px 10px;
  background-color: #f53c3c;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

tooltip {
  border: 1px solid @color3;
  border-radius: 8px;
  background-color: #293E40;
  padding: 0 4px;
  box-shadow: 0.7 0.7 0.7 0.7px #151515;
  transition-property: background-color;
  transition-duration: .5s;
}
